header, body{
	padding: 0;
	margin: 0 auto;
	width: 1280px;
	background-color: #ffffff;
}
header{
	border-top: 2px solid #fd5151;
}
.logo{
	background-color: #fd5151;
	background:#fd5151 url('../image/luxury.jpg') no-repeat 25px 5px ;
	position: relative;
	width: 150px;
	height: 100px;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.15); 
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.15); 
	box-shadow: 0 0 3px rgba(0,0,0,.15);
	float: left;
	margin-left: 150px;
}
.logo span{
	color: #fff; 
	font-family: "Droid Sans", sans-serif;
	font-size: 30px;
	position: absolute;
	top: 43px;
	left: 18px;
}
.logo p{
	color: #fff; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	position: absolute;
	top:67px;
	left: 60px;
}
.top_nav{
	height: 40px;
	width: 850px;
	border-bottom: 1px solid #ccc;
	position: absolute;
	margin-left: 330px;
}
.login a{
	text-decoration: none;
	color: #656565;
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	display: block;
	padding-left: 15px;
	display: inline;
	white-space: pre-wrap;
}
.login{
	float: right;
	padding-top: 10px;
	float: right;
	z-index: 3;
}
.Language span{
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
	-o-transform: rotate(90deg); 
	display: inline-block; padding-left: 8px; vertical-align: text-top; text-indent: 0px;
}
.main_lang a{
	color: red;
	text-decoration: none;
	margin-left: 5px;
}
.main_lang {
	list-style: none;
	float: left;
	position: relative;
	right: 37px;
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	z-index: 10;
}
.sub_lang a{
	color:red;
	text-decoration: none;
	display: block;
	margin-top: 2px;
}
.sub_lang{
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	text-align: center;
	width: 50px;
	height: 20px;
	position: relative;
	z-index: 10;
	left: 50px;
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
}
.main_lang>li:hover .sub_lang{
	display: block;
}
.main_lang>li>.sub_lang a:hover{
	background: #f2f2f2;
}
.main_lang span{
	position: relative;
	bottom: 3px;
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
}
.main_many a{
	color: red;
	text-decoration: none;
	margin-left: 5px;
}
.main_many {
	list-style: none;
	float: left;
	position: relative;
	right: 37px;
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	padding-left: 15px;
	z-index:10;
}
.sub_many a{
	color:red;
	text-decoration: none;
	display: block;
	margin-top: 2px;
}
.sub_many{
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	text-align: center;
	width: 50px;
	height: 20px;
	position: relative;
	z-index: 10;
	left: 43px;
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
}
.main_many>li:hover >.sub_many{
	display: block;
}
.main_many>li>.sub_many a:hover{
	background: #f2f2f2;
}
.main_many span{
	position: relative;
	bottom: 3px;
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
}
.navi{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	top:20px;
}
.navi a{
	text-decoration: none;
	display: block;
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 27px;
}
.main_menu>li >a{
	height: 32px;
	width: 80px;
	padding: 15px 0 0 10px;
	border: 1px solid#ffffff;
}
.main_menu{
	height: 70px;
}
.main_menu>li:nth-child(3):hover >a{
	color:#ff5959;
	border: 1px solid #F2F2F2;
}
.navi >.main_menu >li{
	display: inline-block;
	padding-top: 15px;
}
.main_menu >li:first-child >a{
	color: #ff5959;
	margin-left: 20px;
}
.navi .block a{
	color: #727272; 
	font-size: 11px;
}
.sub_menu{
	border: 1px solid #ccc;
	width: 300px;
	height: 190px;
	position:absolute;
	left:512px;
	padding-left: 25px;
	display: none;
	top:63px;
	border-top: none;
}
.main_menu>li:hover >.sub_menu{
	display: block;
	background: #ffffff;
}
.block>li>a:hover{
	color:#ff5959;
}
.sub_menu .block{
	position: relative;
	list-style: none;
	padding-top: 15px;	
}
.sub_menu .block_2{
	position: absolute;
	left: 60%;
}
.sub_menu .block_1{
	position: absolute;
	z-index: 10;
}
.sub_menu .block_1 a{
	border-right: 1px solid #ccc;
	width: 135px;
}
.search{
	float: right;
	position: relative;
	bottom: 65px;
	right: 6%;
	height: 50px;
}
.search img{
	width: 34px;
	height: 34px;
	background: #4b4b4b;
}
.search a{
	display: inline-block;
}
.search:hover >.bay{
	display: block;
}
.bay{
	width: 290px;
	height: 300px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.2); 
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); 
	box-shadow: 0 0 5px rgba(0,0,0,.2); 
	border-top: 3px solid #ff5959;
	position: absolute;
	background: #ffffff;
	border-top: 3px solid red;
	top: 44px;
	right: -11px;
	display: none;
}
.bay img{
	width: 52px;
	height: 67px;
	margin-left: 10px;
	float: left;
	border: 1px solid #F2F2F2;

}
.bay p{
	color: #898989; 
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	text-align: center;
}
.bay_line{
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px dashed #f2f2f2;
	width: 270px;
	height: 80px;
	margin-left:10px;
	padding-top: 5px;
}
.bay_line2{
	width: 270px;
	height: 80px;
	margin-left:10px;
	padding-top: 5px;
}
.bay .size  h4{
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	display: block;
	bottom: 35px;
	position: relative;
	left: 75px;
}
.bay_line .size p{
	color: #898989;
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	position: relative;
	bottom: 48px;
	right: 22px;
}
.bay_line2 .size p{
		color: #898989;
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	position: relative;
	bottom: 50px;
	right: 23px;
}
.bay:after, .arrow_box:before {
	bottom: 100%;
	left: 83%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.bay:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ff5959;
	border-width: 8px;
	margin-left: -8px;
}
.bay:before {
	border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #ff5959;
	border-width: 9px;
	margin-left: -9px;
}
.search span{
	color: #898989; 
	font-family: "DroidSans", sans-serif;
	font-size: 11px;
	font-weight: bold;
	position: relative;
	bottom: 12px;
}
.size span{
	color: #ff5959; 
	font-family: "DroidSans", sans-serif;
	font-size: 11px;
	font-weight: bold;
	position: relative;
	bottom: -1px;
}
.Quant{
	position: relative;
	bottom: 10px;
	right: 7px;
}
.cancel img{
	width: 20px;
	height: 20px;
	background: #fff;
	position: relative;
	bottom: 128px;
	left: 220px;
	border: none;
}
 .cancel> h4{
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	position: relative;
	bottom: 118px;
	left: 215px;
	width: 50px;
}
.total{
	width: 290px;
	height: 41px;
	background-color: #f7f7f7; 
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.05); 
	position: relative;
	
}
.total h4{
	color: #898989; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	padding-left: 20px;
	position: absolute;
	display: block;
}
.total p{
	color: #fd5151; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 20px;
	position: absolute;
	left: 210px;
	bottom: -13px
}
.button{
	width: 76px;
	height: 31px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fe6868;
	position: relative;
	margin:10px 0 0 20px;
}
.button p{
	color: #ffffff;
	position: relative;
	bottom: 5px;
}
.button2{
	width: 174px;
	height: 31px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	background-color: #ababab; 
	margin-left: 5px;
}
.button2 p{
	color: #fff; 
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	position: relative;
	bottom: 5px;
}
.slider {
	background:#ccc;
	width: 1280px;
	height: 580px;
	position: relative;
	z-index: -150;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #ff5959;
	bottom: 2px;
}
.slider h2{
	color: #ff5757; 
	font-family: "Candara";
	font-size: 30px;
	text-shadow: 1px 2px 3px rgba(0,0,0,.15);
	position:absolute;
	bottom: 110px;
	left: 855px
}
.slider p{
	color: #4b4b4b; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 18px;
	text-align: right;
	position: absolute;
	top:450px;
	left: 650px;
}
.slider img{
	position: absolute;
}
.column{
	height: 180px;
	position: relative;
	top:20px;
	margin-left: 150px;
}
.column .baner {
	width: 307px;
	height: 192px;
	float: left;
	margin-right: 23px;
}
.baner img{
	border: 1px solid#f2f2f2;
}
.baner a{
	text-decoration: none;
}
.column .baner_1 p{
	color: #fff; 
	font-family: "Sylfaen";
	font-size: 18px;
	text-shadow: 1px 2px 3px rgba(0,0,0,.3);
	position: absolute;
	bottom: 50px;
	left: 25px;
}
.baner button span{
	color: #fff; 
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	margin-top: 5px;
}
.baner button{
	width: 82px;
	height: 30px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	background-color: #51d2da; 
	position: relative;
	bottom: 135px;
	left: 30px
}
.baner_2 p{
	color: #474747; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	position: relative;
	bottom: 120px;
	left: -80px
}
.baner_3 >a>p{
	color: #fff; 
	font-family: "Droid Sans", sans-serif;
	font-size: 35px;
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
	position:relative;
	bottom:150px;
	left: 30px; 
}
.baner_3 p{
	color: #727272; 
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	position: relative;
	bottom: 200px;
	left: 30px;
	width: 150px;
}
.baner_3 sup{
	color: #fff; 
	font-family: "Droid Sans", sans-serif;
	font-size: 15px;
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.baner_3 button{
	bottom:190px;
	left: 30px; 
}
.block_3 img{
	width: 236px;
	height: 300px;
	border: 1px solid#f2f2f2;
}
.arrow a{
	text-decoration: none;
	display: block;
	color: #ffffff;
}
.arrow_left,
.arrow_right{
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	width: 17px;
	height: 17px;
	position: absolute;
	bottom: 10px;
	left: 900px;
}
.arrow_left{
	margin-left: 30px;
	background: #fe5252;
}
.arrow_right{
	background: #ebebeb;
}
.column_1{
	margin-top: 70px; 
	position: relative;
}
.column_1 h3{
	border-bottom: 1px solid#f2f2f2;
	padding-bottom: 10px;
	color: #4b4b4b; 
	font-family: "Droid Sans", sans-serif;
	font-size: 18px;
}
.block_3{
	margin-left: 150px;
	width: 970px;
}
.img_1 >.price >p{
	width: 69px;
	height: 44px;
	border-radius: 50%;
	background: #ff7373;
	text-align: center;
	padding-top: 25px;
	color: #fff; 
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	z-index: -20;
	left: 75px;
	bottom: 70px;
}
.img_1 .add_cart h3{
	color: #656565; 
	font-family: "Droid Sans", sans-serif;
	font-size: 13px;
	background: #fff;
	height: 10px;
	padding-top: 15px;
	position: relative;
	bottom: 15px;
}
.img_1 .add_cart img{
	width: 11px;
	height: 11px;
	background: #FFFFFF;
	border: none;
	position: relative;
	bottom: 17px;
}
.column_2{
	position: relative;
}
.img_1 .add_cart{
	text-align: center;
	position: relative;
	z-index: 20;
}
.price{
	width: 230px;
	height: 100px;
	position: absolute;
	background: #ffffff;
	left: 3px;
	top: 250px;
	z-index: 19;
	display: none;
}
.sell_1 img{
	width: 26px;
	height: 20px;
	-moz-border-radius: 2px 2px 6px 6px / 2px 2px 13px 13px;
	-webkit-border-radius: 2px 2px 6px 6px / 2px 2px 13px 13px;
	border-radius: 2px 2px 6px 6px / 2px 2px 13px 13px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	padding:0 5px 0 0;
	float: left;
}
.sell >.sell_1 >span{
	color: #898989; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	float: left;
	padding-top: 10px;
}
.sell{
	border-top: 1px solid red;
	width: 200px;
	padding-top: 10px;
	float: left;
	margin-left: 15px;
	position: relative;
	bottom: 15px
}
.sell_1{
	width: 100px;
	height: 25px;
	border-right:1px solid#f2f2f2; 
}
.sell_2 {
	float: right;
	width: 90px;
	height: 25px;
	position: relative;
	bottom: 24px
}
.sell_2 >p{
	color: #898989; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 10px;
	padding: 0;
	margin: 0
}
.sell_2 span{
	color: red;
	float: left;
}
.img_1:hover>.price{
	display: block;
}
.img_1{
	float: left;
}
.cont{
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}
.twitter{
	height: 280px;
	width:280px;
}
.twitter h2{
	color: #4b4b4b; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 18px;
	margin:0; 
}
.twitter img{
	float: left;
	margin-right: 15px;
}
.twitter  span{
	color: #fe6262; 
	font-family: "Droid Sans", sans-serif;
	font-size: 13px;
}
.twitter p{
	color: #666666; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	width: 280px
}
.twitter span2{
	color: #b0b0b0; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 10px;
	float: right;
}
.coment_1,
.coment_2,
.coment_3{
	border-bottom: 1px dashed#f2f2f2;
	height: 60px
}
.coment_4 a{
	text-decoration: none;
	color: #fd5151; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	padding-left: 50px;
}
.cont_line,
.face_line{
	border-right: 1px solid #f2f2f2;
	padding-right: 35px;
	float: left;
}
.facebook{
	float: left;
	height: 280px;
	width:235px;
	margin-left:35px; 
}
.facebook h2{
	color: #4b4b4b; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 18px;
	margin: 0;
}
.foto p{
	color: #898989; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 10px;
	margin: 0;
	text-align: center;
}
.foto img{
	border: 1px solid #f2f2f2;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	padding: 2px;
}
.foto{
	height: 75px;
	width: 65px;
	margin-top: 10px;
}
.facebook button{
	width: 47px;
	height: 24px;
	background: url('../image/like.png') -1px -2px;
	border-radius: 5px;
	float: left;
}
.but p{
	color: #898989; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	margin-left: 20px;
	padding-left: 40px;
	line-height: 50%
}
.but span{
	color: #fe8080;
}
.but{
	height: 24px;
	border: 1px solid #ffffff;
	margin-top: 15px;
}
.foto_1,
.foto_2,
.foto_4,
.foto_5{
	float: left;
	margin-right: 20px;
}
.foto_3,
.foto_6{
	float: right;
}
.face_line-2{
	border-top: 1px dashed#f2f2f2;
	border-bottom: 1px dashed#f2f2f2;
	height: 175px;
	margin:10px 0 0 0; 
}
.face_but p{
	text-decoration: none;
	color: #898989; 
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	line-height: 13px;
	height: 13px;
}
.face_but a{
	display: block;
	float: left;
	margin-right:10px;
}
.people{
	float: right;
	width: 290px;
	height: 240px;
	margin-left: 45px
}
.people h2{
	color: #4b4b4b; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 18px;
	margin: 0;
}
.people p{
	color: #656565; /* text color */
	font-family: "Baroque Script";
	font-size: 11px;
	line-height: 1.5em;
}
.people span{
	color: #fd5151; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 10px;
	float: right;
}
.people_1,
.people_2{
	width: 250px;
	margin-top: 20px;
	border-bottom: 1px dashed#f2f2f2;
	padding-bottom: 20px;
}
.people_3{
	width: 250px;
}
footer{
	float: left;
	height: 205px;
	width: 1260px;
	background-color: #efefef; 
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.05); 
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.05); 
	margin-top: 50px;

}
.newsletter{
	float: left;
	width: 160px;
	height: 130px;
	margin-left: 150px;
	margin-top: 30px;
}
footer h3{
	color: #4b4b4b; 
	font-family: "Droid Sans", sans-serif;
	font-size: 15px;
}
.foot_line{
	width: 160px;
	height: 1px;
	background-color: #fff; 
	-moz-box-shadow: 0 -1px 0 rgba(220,217,217,.5); 
	-webkit-box-shadow: 0 -1px 0 rgba(220,217,217,.5); 
	box-shadow: 0 -1px 0 rgba(220,217,217,.5); 
}
.newsletter p{
	color: #6f6f6f; 
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	padding-top: 25px;
}
.newsletter form img{
	width: 20px;
	height: 21px;
	background-color: #fe5b5b; 
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.1); 
	box-shadow: 0 0 3px rgba(0,0,0,.1); 
	float: right;
}
.newsletter form{ 
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.15); 
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.15); 
	box-shadow: 0 0 3px rgba(0,0,0,.15); 
	float: left;
	margin-top: 25px
}
input::-webkit-input-placeholder { 
	color: #ccc; 
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
}
.newsletter input{
	width: 130px;
	height: 15px;
}
footer a{
	text-decoration: none;
	color: #6e6e6e; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
	display: block;
	margin-bottom: 10px;
}
footer ul{
	list-style-type: square;
	color: #6e6e6e;
	margin: 0;
	padding: 15px;
}
.info,
.suport,
.service{
	margin-left: 30px;
	margin-top: 30px;
	float: left;
	width: 160px;
	height: 130px;
}
.payment{
	float: right;
	margin-top: 30px;
	margin-right: 190px;
}
.payment ul{
	list-style: none;
	padding: 5px
}
.payment li{
	display: inline-block;
}
.payment p{
	padding-top: 20px;
	color: #6e6e6e; 
	font-family: "Baroque Script";
	font-size: 13px;
}
footer a:hover{
	color: #fe8080;
	text-decoration: underline;
}



